/*! normalize.css v3.0.3 | MIT License | github.com/necolas/normalize.css */
html {
    font-family: sans-serif;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

body {
    margin: 0;
}

article,aside,details,figcaption,figure,footer,header,hgroup,main,menu,nav,section,summary {
    display: block;
}

audio,canvas,progress,video {
    display: inline-block;
    vertical-align: baseline;
}

audio:not([controls]) {
    display: none;
    height: 0;
}

[hidden],template {
    display: none;
}

a {
    background-color: transparent;
}

a:active,a:hover {
    outline: 0;
}

abbr[title] {
    border-bottom: 1px dotted;
}

b,strong {
    font-weight: 700;
}

dfn {
    font-style: italic;
}

h1 {
    font-size: 2em;
    margin: .67em 0;
}

mark {
    background: #ff0;
    color: #000;
}

small {
    font-size: 80%;
}

sub,sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}

sup {
    top: -.5em;
}

sub {
    bottom: -.25em;
}

img {
    border: 0;
}

svg:not(:root) {
    overflow: hidden;
}

figure {
    margin: 1em 40px;
}

hr {
    box-sizing: content-box;
    height: 0;
}

pre {
    overflow: auto;
}

code,kbd,pre,samp {
    font-family: monospace,monospace;
    font-size: 1em;
}

button,input,optgroup,select,textarea {
    color: inherit;
    font: inherit;
    margin: 0;
}

button {
    overflow: visible;
}

button,select {
    text-transform: none;
}

button,html input[type="button"],input[type="reset"],input[type="submit"] {
    -webkit-appearance: button;
    cursor: pointer;
}

button[disabled],html input[disabled] {
    cursor: default;
}

button::-moz-focus-inner,input::-moz-focus-inner {
    border: 0;
    padding: 0;
}

input {
    line-height: normal;
}

input[type="checkbox"],input[type="radio"] {
    box-sizing: border-box;
    padding: 0;
}

input[type="number"]::-webkit-inner-spin-button,input[type="number"]::-webkit-outer-spin-button {
    height: auto;
}

input[type="search"] {
    -webkit-appearance: textfield;
    box-sizing: content-box;
}

input[type="search"]::-webkit-search-cancel-button,input[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none;
}

fieldset {
    border: 1px solid silver;
    margin: 0 2px;
    padding: .35em .625em .75em;
}

legend {
    border: 0;
    padding: 0;
}

textarea {
    overflow: auto;
}

optgroup {
    font-weight: 700;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

td,th {
    padding: 0;
}

.m-x-auto {
    margin-right: auto !important;
    margin-left: auto !important;
}

.m-a-0 {
    margin: 0 !important;
}

.m-t-0 {
    margin-top: 0 !important;
}

.m-r-0 {
    margin-right: 0 !important;
}

.m-b-0 {
    margin-bottom: 0 !important;
}

.m-l-0 {
    margin-left: 0 !important;
}

.m-x-0 {
    margin-right: 0 !important;
    margin-left: 0 !important;
}

.m-y-0 {
    margin-top: 0 !important;
    margin-bottom: 0 !important;
}

.m-a-1 {
    margin: 10px !important;
}

.m-t-1 {
    margin-top: 10px !important;
}

.m-r-1 {
    margin-right: 10px !important;
}

.m-b-1 {
    margin-bottom: 10px !important;
}

.m-l-1 {
    margin-left: 10px !important;
}

.m-x-1 {
    margin-right: 10px !important;
    margin-left: 10px !important;
}

.m-y-1 {
    margin-top: 10px !important;
    margin-bottom: 10px !important;
}

.m-a-2 {
    margin: 20px !important;
}

.m-t-2 {
    margin-top: 20px !important;
}

.m-r-2 {
    margin-right: 20px !important;
}

.m-b-2 {
    margin-bottom: 20px !important;
}

.m-l-2 {
    margin-left: 20px !important;
}

.m-x-2 {
    margin-right: 20px !important;
    margin-left: 20px !important;
}

.m-y-2 {
    margin-top: 20px !important;
    margin-bottom: 20px !important;
}

.m-a-3 {
    margin: 50px !important;
}

.m-t-3 {
    margin-top: 50px !important;
}

.m-r-3 {
    margin-right: 50px !important;
}

.m-b-3 {
    margin-bottom: 50px !important;
}

.m-l-3 {
    margin-left: 50px !important;
}

.m-x-3 {
    margin-right: 50px !important;
    margin-left: 50px !important;
}

.m-y-3 {
    margin-top: 50px !important;
    margin-bottom: 50px !important;
}

.p-a-0 {
    padding: 0 !important;
}

.p-t-0 {
    padding-top: 0 !important;
}

.p-r-0 {
    padding-right: 0 !important;
}

.p-b-0 {
    padding-bottom: 0 !important;
}

.p-l-0 {
    padding-left: 0 !important;
}

.p-x-0 {
    padding-right: 0 !important;
    padding-left: 0 !important;
}

.p-y-0 {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
}

.p-a-1 {
    padding: 10px !important;
}

.p-t-1 {
    padding-top: 10px !important;
}

.p-r-1 {
    padding-right: 10px !important;
}

.p-b-1 {
    padding-bottom: 10px !important;
}

.p-l-1 {
    padding-left: 10px !important;
}

.p-x-1 {
    padding-right: 10px !important;
    padding-left: 10px !important;
}

.p-y-1 {
    padding-top: 10px !important;
    padding-bottom: 10px !important;
}

.p-a-2 {
    padding: 20px !important;
}

.p-t-2 {
    padding-top: 20px !important;
}

.p-r-2 {
    padding-right: 20px !important;
}

.p-b-2 {
    padding-bottom: 20px !important;
}

.p-l-2 {
    padding-left: 20px !important;
}

.p-x-2 {
    padding-right: 20px !important;
    padding-left: 20px !important;
}

.p-y-2 {
    padding-top: 20px !important;
    padding-bottom: 20px !important;
}

.p-a-3 {
    padding: 50px !important;
}

.p-t-3 {
    padding-top: 50px !important;
}

.p-r-3 {
    padding-right: 50px !important;
}

.p-b-3 {
    padding-bottom: 50px !important;
}

.p-l-3 {
    padding-left: 50px !important;
}

.p-x-3 {
    padding-right: 50px !important;
    padding-left: 50px !important;
}

.p-y-3 {
    padding-top: 50px !important;
    padding-bottom: 50px !important;
}

ul,ol {
    margin: 0;
    padding: 0;
}

ul li,ol li {
    margin: 0;
    padding: 0;
    list-style: none;
}

body {
    font-family: Calibri,Candara,Segoe,'Segoe UI',Helvetica,Optima,Arial,"Nimbus Sans L","Liberation Sans",FreeSans,sans-serif;
    font-size: 17px;
    line-height: 1.177;
    color: #313131;
    margin: 0;
    padding: 0;
}

* {
    box-sizing: border-box;
}

:before,:after {
    box-sizing: border-box;
}

a,a:link,a:visited,.avisited {
    color: #00baff;
    cursor: pointer;
    text-decoration: underline;
}

a:hover,.ahover {
    text-decoration: none;
    color: #00baff;
    cursor: pointer;
}

a:active,a:visited:active {
    color: #00baff;
}

h1,.h1,h2,.h2,h3,.h3,h4,.h4,h5,.h5 {
    margin-bottom: 15px;
    font-weight: 400;
}

h1,.h1,h2,.h2,h3,.h3 {
    margin-top: 20px;
}

h4,.h4,h5,.h5,h6,.h6 {
    margin-top: 15px;
    font-weight: 400;
}

h1,.h1 {
    font-size: 40px;
}

h2,.h2 {
    font-size: 26px;
}

h3,.h3 {
    font-size: 22px;
}

h4,.h4 {
    font-size: 18px;
}

h5,.h5 {
    font-size: 14px;
}

h6,.h6 {
    font-size: 12px;
    margin-bottom: 5px;
}

h2.chapter,.h2.chapter {
    font-size: 38px;
}

p {
    margin-bottom: 20px;
    margin-top: 0;
}

hr {
    border: 0;
    margin-bottom: 20px;
    margin-top: 0;
    height: 1px;
    background: #dfdfdf;
}

.text a:visited,.text .avisited {
    color: #00baff;
}

.text a:visited:hover,.text .avisited:hover {
    color: #00baff;
}

.text b,.text strong {
    font-weight: 600;
}

.text b b,.text strong strong,.text b strong,.text strong b {
    font-weight: 700;
}

.text small {
    font-size: .7em;
    opacity: .6;
}

.text ol,.text ul {
    margin-bottom: 30px;
    padding-left: 12px;
    list-style: none;
    counter-reset: li;
}

.text ol {
    padding-left: 9px;
}

.text ul li {
    display: list-item;
    margin-left: 20px;
    margin-bottom: 7px;
    position: relative;
}

.text ol li {
    display: list-item;
    list-style-type: decimal;
    margin-left: 25px;
    margin-bottom: 7px;
    text-indent: -1.3em;
    text-indent: 0;
}

.text ul ul,.text ul ol,.text ol ol,.text ol ul {
    margin-bottom: 0;
    margin-top: 7px;
    padding-left: 0;
}

.text ol ul li {
    list-style-type: none;
    margin-left: 35px;
    text-indent: -1.25em;
}

.text ul ol li {
    margin-left: 22px;
}

.text ul ol li:before {
    content: '';
}

.text ul li:before {
    content: '';
    position: absolute;
    left: -28px;
    width: 10px;
    height: 10px;
    top: .3em;
    border: 3px solid #1dae00;
    border-radius: 20px;
}

.text img {
    margin-bottom: 20px;
    margin-top: 0;
    margin-top: .3em;
    max-width: 100%;
    height: auto !important;
}

.text img.pull-left,.text img[align=left] {
    margin-right: 20px;
    margin-left: 0;
}

.text img.pull-right,.text img[align=right] {
    margin-right: 0;
    margin-left: 20px;
}

h1,.h1 {
    font-size: 40px;
    font-weight: 600;
    margin-bottom: 22px;
}

p {
    font-size: 17px;
    margin-bottom: 18px;
    color: #313131;
}

hr,.hr {
    margin: 25px 0;
    height: 1px;
    background: #cecece;
}

.container {
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
    width: 95%;
    max-width: 960px;
}

.container:before,.container:after {
    content: " ";
    display: table;
}

.container:after {
    clear: both;
}

.clearfix:before,.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.hide-on-mobile {
    display: none !important;
}

.text-center {
    text-align: center;
}

.btn {
    display: inline-block;
    font-size: 22px;
    color: #000 !important;
    text-align: center;
    background: #cecece;
    border: none;
    padding: 14px 25px 16px;
    cursor: pointer;
    box-shadow: 0 -3px 0 0 rgba(0,0,0,0.2) inset;
    border-radius: 3px;
    text-decoration: none !important;
    -webkit-transition: box-shadow ease .1s,background-color ease .1s;
    transition: box-shadow ease .1s,background-color ease .1s;
}

.btn:hover,.btn:focus {
    background: #d3d3d3;
    text-decoration: none !important;
}

.btn:active {
    background: #cbcbcb;
    box-shadow: 0 3px 0 0 rgba(0,0,0,0.2) inset;
    padding: 15px 25px;
}

.btn-primary {
    color: #fff !important;
    background: #1dae00;
}

.btn-primary:hover,.btn-primary:focus {
    background: #1fb800;
}

.btn-primary:active {
    background: #1ca900;
}

.btn-secondary {
    background: #ffd800;
}

.btn-secondary:hover,.btn-secondary:focus {
    background: #ffde29;
}

.btn-secondary:active {
    background: #fad400;
}

.link-black {
    color: #313131 !important;
}

.link-black:hover {
    color: #313131 !important;
}

.link-icon {
    text-decoration: none !important;
}

.link-icon .link {
    text-decoration: underline;
}

.link-icon:hover .link {
    text-decoration: none;
}

.icon-arrow {
    font-family: sans-serif;
    padding: 0 .2em;
}

.mobile-menu {
    display: inline-block;
    width: 50px;
    height: 50px;
    background: red;
    cursor: pointer;
    background: url(../img/btn-menu.png) 0 0 no-repeat;
}

.mobile-menu.active {
    background-position: 0 -50px;
}

#header {
    box-shadow: 0 1px 2px 1px rgba(0,0,0,0.1);
    border-bottom: 1px solid rgba(0,0,0,0.1);
}

.header-1 {
    display: none;
}

.header-2 {
    display: none;
    padding: 20px 0;
}

.header-2__list-item {
    margin-bottom: 20px;
}

.logo {
    display: inline-block;
    width: 70px;
    height: 70px;
    margin: 0 auto;
    -webkit-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg);
    -webkit-transition: -webkit-transform ease .3s;
    transition: transform ease .3s;
    text-decoration: none !important;
    border-radius: 100px;
    vertical-align: middle;
}

.logo_green {
    background: url(/_design/_img/logo_green.png) top left no-repeat;
}

.logo:hover {
    -webkit-transform: rotate(-360deg);
    -ms-transform: rotate(-360deg);
    transform: rotate(-360deg);
    background-position: -70px 0;
    text-decoration: none;
}

.nav-menu__list {
    text-align: left;
    padding-left: 20px;
}

.nav-menu__list-item {
    list-style: initial;
}

.nav-menu__list-item_separator {
    display: none;
}

.nav-menu__link {
    font-size: 16px;
    line-height: 2.87;
    text-decoration: underline;
    color: #313131 !important;
    display: inline-block;
    padding: 0;
}

.hidden-phone {
    min-width: 308px;
    display: inline-block;
    text-align: center;
    font-size: 40px;
    font-weight: 700;
    letter-spacing: .015em;
}

.hidden-phone .prefix {
    font-size: 22px;
    padding-right: 5px;
}

.hidden-phone a,.hidden-phone a:hover {
    text-decoration: none;
    color: #636363;
}

.hidden-phone .hidden-numbers {
    border-bottom: 1px dotted #313131;
    font-size: 22px;
    cursor: pointer;
    display: inline-block;
    padding-left: 5px;
    margin-bottom: 10px;
    vertical-align: bottom;
}

.subscription-block {
    background: #ececec;
    padding: 20px 0;
}

textarea.form-input {
    resize: vertical;
    min-height: 105px;
}

.block-result a.btn-close {
    width: 160px !important;
    font-weight: 700 !important;
}

@media only screen and (min-width:980px) {
    .hide-on-mobile {
        display: block !important;
    }

    .hide-on-mobile.logo {
        display: inline-block !important;
    }

    .pull-left {
        float: left;
    }

    .pull-right {
        float: right;
    }

    .header-mobile {
        display: none;
    }

    .header-1 {
        display: block !important;
    }

    .header-2 {
        display: block !important;
    }

    .header-2__list {
        text-align: justify;
        height: 70px;
    }

    .header-2__list:after {
        content: "";
        display: inline-block;
        width: 100%;
        height: 0;
    }

    .header-2__list-item {
        display: inline-block;
        vertical-align: middle;
        margin-bottom: 0;
    }

    .header-1 {
        background: #ffd800;
    }

    .nav-menu__list {
        text-align: justify !important;
        height: 46px;
        padding-left: 0 !important;
    }

    .nav-menu__list:after {
        content: "";
        display: inline-block;
        width: 100%;
        height: 0;
    }

    .nav-menu__list-item {
        display: inline-block !important;
    }

    .subscription-block {
        background: none transparent !important;
        padding: 0 !important;
    }
}