@import "variables.less";
@import "normalize.less";
@import "spacing.less";
@import "fonts.less";
@import "typographics.less";



.container {
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
    width: 95%;
    max-width: 960px;
}
.container:before,
.container:after {
    content: " ";
    display: table;
}
.container:after {
    clear: both;
}

.clearfix {
    &:before,
    &:after {
        content: " ";
        display: table;
    }
    &:after {
        clear: both;
    }
}

.hide-on-mobile {
    display: none !important;
}
.text-center {
    text-align: center;
}


.btn {
    @gray: #cecece;
    @padding-y: 15px;
    display: inline-block;
    font-size: 22px;
    color: #000000 !important;
    text-align: center;
    background: @gray;
    border: none;
    padding: (@padding-y - 1) 25px (@padding-y + 1);
    cursor: pointer;
    box-shadow: 0 -3px 0 0 rgba(0, 0, 0, 0.2) inset;
    border-radius: 3px;
    text-decoration: none !important;
    transition: box-shadow ease 0.1s, background-color  ease 0.1s;
    &:hover,
    &:focus {
        background: lighten(@gray, 2%);
        text-decoration: none !important;
    }
    &:active {
        background: darken(@gray, 1%);
        box-shadow: 0 3px 0 0 rgba(0, 0, 0, 0.2) inset;
        padding: @padding-y 25px @padding-y;
    }
}
.btn-primary {
    color: #fff !important;
    background: @green;
    &:hover,
    &:focus {
        background: lighten(@green, 2%);
    }
    &:active {
        background: darken(@green, 1%);
    }
}
.btn-secondary {
    //color: #fff !important;
    background: @yellow;
    &:hover,
    &:focus {
        background: lighten(@yellow, 8%);
    }
    &:active {
        background: darken(@yellow, 1%);
    }
}

.link-black {
    color: @black !important;
    &:hover {
        color: @black !important;
    }
}
.link-icon {
    text-decoration: none !important;
    .link {
        text-decoration: underline;
    }
    &:hover .link {
        text-decoration: none;
    }
}

.icon-arrow {
    font-family: sans-serif;
    padding: 0 0.2em;
}


.mobile-menu {
    display: inline-block;
    width: 50px;
    height: 50px;
    background: red;
    cursor: pointer;
    background: url(../img/btn-menu.png) 0 0 no-repeat;
    &.active {
        background-position: 0px -50px;
    }
}

#header {
    box-shadow: 0 1px 2px 1px rgba(0,0,0,.1);
    border-bottom: 1px solid rgba(0,0,0,.1);
}
.header-1 {
    display: none;
}
.header-2 {
    display: none;
    padding: 20px 0;
}
.header-2__list {
    &-item {
        margin-bottom: 20px;
    }
}
.logo {
    display: inline-block;
    width: 70px;
    height: 70px;
    margin: 0 auto 0 auto;
    transform: rotate(360deg);
    transition: transform ease 0.3s;
    text-decoration: none !important;
    border-radius: 100px;
    vertical-align: middle;
    &_green {
        background: url('/_design/_img/logo_green.png') top left no-repeat
    }
    &:hover {
        transform: rotate(-360deg);
        background-position: -70px 0;
        text-decoration: none;
    }
}
.nav-menu {
    &__list {
        text-align: left;
        padding-left: 20px;
        &-item {
            //display: block;
            list-style: initial;
            &_separator {
                display: none;
            }
        }
    }
    &__link {
        font-size: 16px;
        line-height: 2.87;
        text-decoration: underline;
        color: @black !important;
        display: inline-block;
        padding: 0;
    }
}


.hidden-phone {
    min-width: 308px;
    display: inline-block;
    text-align: center;
    //margin-top: 10px;
    font-size: 40px;
    font-weight: bold;
    letter-spacing: 0.015em;

    .prefix {
        font-size: 22px;
        padding-right: 5px;
    }
    a,
    a:hover {
        text-decoration: none;
        color: #636363;
    }
    .hidden-numbers {
        border-bottom: 1px dotted @black;
        font-size: 22px;
        cursor: pointer;
        display: inline-block;
        padding-left: 5px;
        margin-bottom: 10px;
        vertical-align: bottom;
    }
}

.subscription-block {
    background: #ECECEC;
    padding: 20px 0;
}

textarea.form-input {
    resize: vertical;
    min-height: 105px;
}
 
.block-result a.btn-close {
    width: 160px !important;
    font-weight: bold !important;
}


//Responsive
@import "responsive.less";
