@import "variables.less";

@media only screen and (min-width: 980px) {

    .hide-on-mobile {
        display: block !important;
        &.logo {
            display: inline-block !important;
        }
    }
    .pull-left {
        float: left;
    }
    .pull-right {
        float: right;
    }
    .header-mobile {
        display: none;
    }
    .header-1 {
        display: block !important;
    }
    .header-2 {
        display: block !important;
    }
    .header-2__list {
        text-align: justify;
        height: 70px;
        &:after {
            content: "";
            display: inline-block;
            width: 100%;
            height: 0;
        }
        &-item {
            display: inline-block;
            vertical-align: middle;
            margin-bottom:  0;
        }
    }
    .header-1 {
        background: @yellow;
    }
    .nav-menu {
        &__list {
            text-align: justify !important;
            height: 46px;
            padding-left: 0 !important;
            &:after {
                content: "";
                display: inline-block;
                width: 100%;
                height: 0;
            }
            &-item {
                display: inline-block !important;
            }
        }
    }
    .subscription-block {
        background: none transparent !important;
        padding: 0 !important;
    }
}
