.m-x-auto {
  margin-right: auto !important;
  margin-left: auto !important;
}

.m-a-0 {
  margin: 0 0 !important;
}

.m-t-0 {
  margin-top: 0 !important;
}

.m-r-0 {
  margin-right: 0 !important;
}

.m-b-0 {
  margin-bottom: 0 !important;
}

.m-l-0 {
  margin-left: 0 !important;
}

.m-x-0 {
  margin-right: 0 !important;
  margin-left: 0 !important;
}

.m-y-0 {
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}

.m-a-1 {
  margin: @spacing-xs @spacing-xs !important;
}

.m-t-1 {
  margin-top: @spacing-xs !important;
}

.m-r-1 {
  margin-right: @spacing-xs !important;
}

.m-b-1 {
  margin-bottom: @spacing-xs !important;
}

.m-l-1 {
  margin-left: @spacing-xs !important;
}

.m-x-1 {
  margin-right: @spacing-xs !important;
  margin-left: @spacing-xs !important;
}

.m-y-1 {
  margin-top: @spacing-xs !important;
  margin-bottom: @spacing-xs !important;
}

.m-a-2 {
  margin: @spacing-sm @spacing-sm !important;
}

.m-t-2 {
  margin-top: @spacing-sm !important;
}

.m-r-2 {
  margin-right: @spacing-sm !important;
}

.m-b-2 {
  margin-bottom: @spacing-sm !important;
}

.m-l-2 {
  margin-left: @spacing-sm !important;
}

.m-x-2 {
  margin-right: @spacing-sm !important;
  margin-left: @spacing-sm !important;
}

.m-y-2 {
  margin-top: @spacing-sm !important;
  margin-bottom: @spacing-sm !important;
}

.m-a-3 {
  margin: @spacing-md @spacing-md !important;
}

.m-t-3 {
  margin-top: @spacing-md !important;
}

.m-r-3 {
  margin-right: @spacing-md !important;
}

.m-b-3 {
  margin-bottom: @spacing-md !important;
}

.m-l-3 {
  margin-left: @spacing-md !important;
}

.m-x-3 {
  margin-right: @spacing-md !important;
  margin-left: @spacing-md !important;
}

.m-y-3 {
  margin-top: @spacing-md !important;
  margin-bottom: @spacing-md !important;
}

.p-a-0 {
  padding: 0 0 !important;
}

.p-t-0 {
  padding-top: 0 !important;
}

.p-r-0 {
  padding-right: 0 !important;
}

.p-b-0 {
  padding-bottom: 0 !important;
}

.p-l-0 {
  padding-left: 0 !important;
}

.p-x-0 {
  padding-right: 0 !important;
  padding-left: 0 !important;
}

.p-y-0 {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}

.p-a-1 {
  padding: @spacing-xs @spacing-xs !important;
}

.p-t-1 {
  padding-top: @spacing-xs !important;
}

.p-r-1 {
  padding-right: @spacing-xs !important;
}

.p-b-1 {
  padding-bottom: @spacing-xs !important;
}

.p-l-1 {
  padding-left: @spacing-xs !important;
}

.p-x-1 {
  padding-right: @spacing-xs !important;
  padding-left: @spacing-xs !important;
}

.p-y-1 {
  padding-top: @spacing-xs !important;
  padding-bottom: @spacing-xs !important;
}

.p-a-2 {
  padding: @spacing-sm @spacing-sm !important;
}

.p-t-2 {
  padding-top: @spacing-sm !important;
}

.p-r-2 {
  padding-right: @spacing-sm !important;
}

.p-b-2 {
  padding-bottom: @spacing-sm !important;
}

.p-l-2 {
  padding-left: @spacing-sm !important;
}

.p-x-2 {
  padding-right: @spacing-sm !important;
  padding-left: @spacing-sm !important;
}

.p-y-2 {
  padding-top: @spacing-sm !important;
  padding-bottom: @spacing-sm !important;
}

.p-a-3 {
  padding: @spacing-md @spacing-md !important;
}

.p-t-3 {
  padding-top: @spacing-md !important;
}

.p-r-3 {
  padding-right: @spacing-md !important;
}

.p-b-3 {
  padding-bottom: @spacing-md !important;
}

.p-l-3 {
  padding-left: @spacing-md !important;
}

.p-x-3 {
  padding-right: @spacing-md !important;
  padding-left: @spacing-md !important;
}

.p-y-3 {
  padding-top: @spacing-md !important;
  padding-bottom: @spacing-md !important;
}
