@import "variables.less";

ul,
ol {
    margin: 0;
    padding: 0;
}
ul li,
ol li {
    margin: 0;
    padding: 0;
    list-style: none;
}
body {
    font-family: @font-family;
    font-size: @font-size;
    line-height: @line-height;
    color: @text-color;
    margin: 0px;
    padding: 0px;
}
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
*:before,
*:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
/* links */

a,
a:link,
a:visited,
.avisited {
    color: @link-color;
    cursor: pointer;
    text-decoration: underline;
}
a:hover,
.ahover {
    text-decoration: none;
    color: @link-hover-color;
    cursor: pointer;
}
a:active,
a:visited:active {
    color: @link-active-color;
}
/* END links */

/* Headers */


h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5 {
    margin-bottom: 15px;
    font-weight: normal;
}
h1,
.h1,
h2,
.h2,
h3,
.h3 {
    margin-top: 20px;
}
h4,
.h4,
h5,
.h5,
h6,
.h6 {
    margin-top: 15px;
    font-weight: normal;
}
h1,
.h1 {
    font-size: 40px;
}
h2,
.h2 {
    font-size: 26px;
}
h3,
.h3 {
    font-size: 22px;
}
h4,
.h4 {
    font-size: 18px;
}
h5,
.h5 {
    font-size: 14px;
}
h6,
.h6 {
    font-size: 12px;
    margin-bottom: 5px;
}
h2.chapter,
.h2.chapter {
    font-size: 38px;
}
/* END Headers */

p {
    margin-bottom: 20px;
    margin-top: 0;
}
hr {
    border: 0;
    margin-bottom: 20px;
    margin-top: 0;
    height: 1px;
    background: #dfdfdf;
}
.text a:visited,
.text .avisited {
    color: @link-color;
}
.text a:visited:hover,
.text .avisited:hover {
    color: @link-hover-color;
}
.text b,
.text strong {
    font-weight: 600;
}
.text b b,
.text strong strong,
.text b strong,
.text strong b {
    font-weight: 700;
}
.text small {
    font-size: 0.7em;
    opacity: 0.6;
}
.text big {

}
.text blockquote {

}
.text ol,
.text ul {
    margin-bottom: 30px;
    padding-left: 12px;
    list-style: none;
    counter-reset: li;
}
.text ol {
    padding-left: 9px;
}
.text ul li {
    display: list-item;
    margin-left: 20px;
    margin-bottom: 7px;
    //text-indent: -1.3em;
    position: relative;
}
.text ol li {
    display: list-item;
    list-style-type: decimal;
    margin-left: 25px;
    margin-bottom: 7px;
    text-indent: -1.3em;
    text-indent: 0;
}
.text ul ul,
.text ul ol,
.text ol ol,
.text ol ul {
    margin-bottom: 0px;
    margin-top: 7px;
    padding-left: 0px;
}
.text ol ul li {
    list-style-type: none;
    margin-left: 35px;
    text-indent: -1.25em;
}
.text ul ol li {
    margin-left: 22px;
}
.text ul ol li:before {
    content: '';
}
.text ul li:before {
    /* color: black; */
    /* font-weight: 400; */
    content: '';
    position: absolute;
    left: -28px;
    width: 10px;
    height: 10px;
    /* background: green; */
    top: 0.3em;
    border: 3px solid @green;
    border-radius: 20px;
}
.text table {

}
.text th,
.text td {

}
.text img {
    margin-bottom: 20px;
    margin-top: 0;
    margin-top: 0.3em;
    max-width: 100%;
    height: auto !important;
}
.text img.pull-left,
.text img[align=left] {
    margin-right: 20px;
    margin-left: 0;
}
.text img.pull-right,
.text img[align=right] {
    margin-right: 0;
    margin-left: 20px;
}


h1,
.h1 {
    font-size: 40px;
    font-weight: 600;
    margin-bottom: 22px;
}
p {
    font-size: @font-size;
    margin-bottom: 18px;
    color: @black;
    //color: rgba(0, 0, 0, 0.87);
}
hr, .hr {
    margin: 25px 0;
    height: 1px;
    background: #cecece;
}

