@black: #313131;
@white: #fff;
@yellow: #ffd800;
@blue: #00baff;
@green: #1dae00;

@btn-base-color: @green;

@container: 960px;

@link-color: @blue;
@link-hover-color: @blue;
@link-active-color: @link-color;

@font-size: 17px;
@line-height: 1.177;
@text-color: @black;
@font-family: Calibri, Candara, Segoe, 'Segoe UI', Helvetica, Optima, Arial, "Nimbus Sans L", "Liberation Sans", FreeSans, sans-serif;

@spacing-xs: 10px;
@spacing-sm: 20px;
@spacing-md: 50px;


