#top_place_link {
	background: url('/_design/_img/top_place_link_bg.png') top left no-repeat;
}
#top_place_link span { margin-top: 10px }
#advanced_link {
    background: url('/_design/_img/advanced_link_bg.png') top left no-repeat;
    width: 54px;
    height: 396px;
	left: 8px;
	top: 0;
}
#advanced_link span {
	display: none;
}

.advanced_link_active { background-image: url('/_design/_img/advanced_link_bg3.png') !important }
#main .collapse { width: 100% }